<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>JDBCConnection</servlet-name>
  	<display-name>JDBCConnection</display-name>
  	<description></description>
  	<servlet-class>servlet_jdbc_pack1.JDBCConnection</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>JDBCConnection1</servlet-name>
  	<display-name>JDBCConnection1</display-name>
  	<description></description>
  	<servlet-class>servlet_jdbc_pack1.JDBCConnection1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SelectStudent</servlet-name>
  	<display-name>SelectStudent</display-name>
  	<description></description>
  	<servlet-class>servlet_jdbc_pack1.SelectStudent</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreateDb</servlet-name>
  	<display-name>CreateDb</display-name>
  	<description></description>
  	<servlet-class>servlet_jdbc_pack1.CreateDb</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UseDb</servlet-name>
  	<display-name>UseDb</display-name>
  	<description></description>
  	<servlet-class>servlet_jdbc_pack1.UseDb</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SelectEmployee</servlet-name>
  	<display-name>SelectEmployee</display-name>
  	<description></description>
  	<servlet-class>servlet_jdbc_pack1.SelectEmployee</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreateDbPreStmt</servlet-name>
  	<display-name>CreateDbPreStmt</display-name>
  	<description></description>
  	<servlet-class>servlet_jdbc_pack1.CreateDbPreStmt</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UseDbPreStmt</servlet-name>
  	<display-name>UseDbPreStmt</display-name>
  	<description></description>
  	<servlet-class>servlet_jdbc_pack1.UseDbPreStmt</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TestEQ1</servlet-name>
  	<display-name>TestEQ1</display-name>
  	<description></description>
  	<servlet-class>servlet_jdbc_pack1.TestEQ1</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>JDBCConnection</servlet-name>
  	<url-pattern>/JDBCConnection</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>JDBCConnection1</servlet-name>
  	<url-pattern>/JDBCConnection1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SelectStudent</servlet-name>
  	<url-pattern>/SelectStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateDb</servlet-name>
  	<url-pattern>/CreateDb</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UseDb</servlet-name>
  	<url-pattern>/UseDb</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SelectEmployee</servlet-name>
  	<url-pattern>/SelectEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateDbPreStmt</servlet-name>
  	<url-pattern>/CreateDbPreStmt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UseDbPreStmt</servlet-name>
  	<url-pattern>/UseDbPreStmt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TestEQ1</servlet-name>
  	<url-pattern>/TestEQ1</url-pattern>
  </servlet-mapping>
</web-app>
